.userBook{
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 1em;

    height: 50vh;
}

.userBook>img{
    width: 20%;
    border-radius: 1em 0 0 1em;
}

.userBookInfo{
    width: 30%;
}

.notesSection {
    background-color: lightgray;
    border-left: solid;
    border-color: black;
    border-width: 1px;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;

    width: 50%;
}

.notes{
    padding: 0;
    list-style: none;
    height: 90%;
    width: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.on {
    color: #000;
  }
  .off {
    color: #ccc;
  }