.book {
    background: linear-gradient(0deg, rgba(79,79,82,1) 0%, rgba(137,137,140,1) 35%, rgba(206,210,210,1) 100%);
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 1em;
    margin: 0.1em;

    width: 25.5vw;
    height: 50vh;

    display: flex;
    flex-direction: row-reverse;
}

.bookInfo {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
}

.bookInfo>h4{
    height: 15%;
    margin: 0.5em 0.2em;
    overflow: auto;
}

.bookAuthors {
    margin: 0.2em;
    height: 10%;
    overflow: auto;
}

.bookGenres {
    margin: 0.2em;
    height: 10%;
    overflow: auto;
}

.bookAuthors>p, .bookGenres>p {
    margin: 0.2em;
}

.bookDesc {
    margin: 0.2em;
    padding-top: 0.5em;
    height: 50%;

    overflow: auto;
}

.bookSocialAction{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.icon{
    width: 1.5em;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 0.3em;
    color: black;
}

.icon:hover{
    background-color: greenyellow;
}

::-webkit-scrollbar {
    display: none;
}

.book>img {
    width: 50%;
    border-radius: 1em 0 0 1em;
}