.note{
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 1em;
    margin-left: 0.5em;
    width: 31vw;
    margin-top: 0.2em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note>input{
    width: 80%;
    height: 100%;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.actionIcons{
    display: flex;
    flex-direction: row;
}

.delIcon, .editIcon{
    width: 1.5em;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 0.3em;
    color: black;
    margin-right: 0.5em;
}

.delIcon:hover, .editIcon:hover{
    background-color: greenyellow;
}

.delIcon{
    color: darkred;
}

.addNoteDiv{
    height: 10%;
}