.manageBookMain{
    height: 82%;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.buttonBookDelete{
    border-radius: 1em;
    background-color: orangered;
}

.buttonBookDelete:hover{
    background-color: red;
}

.bookEditDiv>img{
    width: 17em;
    margin-right: 4em;
}

.bookEditDiv{
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* .bookEditDiv>form{
    

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    
} */

.formModBook{
    width: 30em;
    margin-left: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(79,79,82,1) 0%, rgba(137,137,140,1) 35%, rgba(206,210,210,1) 100%);
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 1em;
}

.bookEditDiv>form>input{
    margin-top: 0.5em;
    text-align: center;
    margin-bottom: 0.5em;
}

.bookEditDiv>form>textarea{
    height: 17em;
    margin-bottom: 0.5em;
    text-align: center;
    width: 26em;
}

.select{
    margin-bottom: 0.5em;
}

button:hover{
    background-color: greenyellow;
}
