.manageAuthorsMain{
    height: 82%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.manageAuthorsMainSubDiv{
    width: 35em;
    height: 80%;
    background: linear-gradient(0deg, rgba(79,79,82,1) 0%, rgba(137,137,140,1) 35%, rgba(206,210,210,1) 100%);

    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 1em;
    margin: 0.5em;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.allAuthorsList{
    height: 90%;
    overflow: auto;
    padding: 0;
    margin: 0.5em 0;
    width: 32em;
    margin: 0.5em;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    list-style: none;
}

.author{    
    width: 30em;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 1em;
    margin: 0.5em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.author>input{
    width: 12em;
}

.addAuthorDiv{
    height: 5%;
    position:  absolute;
    bottom: 1em;
}

.addAuthorForm{
    width: 32em;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.addAuthorBut{
    height: 50%;
    margin-right: 1em;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 1em;
}

.addAuthorForm>label{
    display: flex;
    flex-direction: row;
}

.inptNewAuth{
    margin: 0.2em;
}
