.peopleMain {
    background-color: white;
    height: 82%;

    display: flex;
    flex-direction: row;
}

.peopleAside {
    width: 20vw;
    height: 100%;

    border-right: solid;
    border-color: black;
    border-width: 1px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.peopleAside>button{
    margin: 0.3em;
    width: 10em;
    background-color: lightgreen;
}

.peopleAside>button:hover{
    background-color: beige;
}

.usersList{
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    padding: 0 1em;
    overflow: auto;

    list-style: none;
}

.friendsList{
    padding: 0;
    width: 19vw;
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
    overflow: auto;

    list-style: none;
}

.friendDiv{
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 1em;
    background: linear-gradient(90deg, rgba(79,79,82,1) 0%, rgba(137,137,140,1) 35%, rgba(206,210,210,1) 100%);


    height: 5em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.friendDiv>img{
    width: 30%;
    height: 100%;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
}

.friendDiv>p{
    margin: 0;
    padding: 0;
    width: 60%;
}

.search_input{
    width: 80%;
    align-self: center;
    margin-top: 0.2em;
} 

.usersListDiv{
    height: 100%;
    overflow: auto;
    width: 80vw;
}


.pagination-container {
    display: flex;
    list-style-type: none;
}
.pagination-container .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;
}
.pagination-container .pagination-item.dots:hover {
    background-color: transparent;
    cursor: default;
}
.pagination-container .pagination-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
}
.pagination-container .pagination-item.selected {
    background-color: rgba(0, 0, 0, 0.08);
}
.pagination-container .pagination-item .arrow::before {
    position: relative;
   /* top: 3pt;
    Uncomment this to lower the icons as requested in comments*/
    content: '';
   /* By using an em scale, the arrows will size with the font */
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.12em solid rgba(0, 0, 0, 0.87);
    border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}
.pagination-container .pagination-item .arrow.left {
    transform: rotate(-135deg) translate(-50%);
}
.pagination-container .pagination-item .arrow.right {
    transform: rotate(45deg);
}
.pagination-container .pagination-item.disabled {
    pointer-events: none;
}
.pagination-container .pagination-item.disabled .arrow::before {
    border-right: 0.12em solid rgba(0, 0, 0, 0.43);
    border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}
.pagination-container .pagination-item.disabled:hover {
    background-color: transparent;
    cursor: default;
}